@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "SendBox";
    Layout = "WriterLayout";
}

<h4>Giden Kutusu</h4>
<div class="card">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Konu</th>
            <th>Alıcı</th>
            <th>Tarih</th>
            <th>Mesajı Aç</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.MessageID</th>
                <td>@item.Subject</td>
                <td><span class="badge badge-success">@item.ReceiverUser.WriterName</span></td>
                <td>@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-outline-info">Mesajı Aç</a></td>
            </tr>
        }
    </table>
</div>
<br />
<a href="/Message/SendMessage" class="btn btn-success">Yeni Mesaj Oluştur</a>