@using CoreDemo.Models
@model RoleViewModel
@{
    ViewData["Title"] = "AddRole";
    Layout = "AdminLayout";
}

<h1>Role Ekleme Sayfası</h1>
<br />

<form method="post">
    <label>Rol Başlığı</label>
    <input asp-for="@Model.name" class="form-control" />

    <div asp-validation-summary="ModelOnly"></div>
    <br />
    <button class="btn btn-info">Rolü Kaydet</button>
</form>
@section scripts {
}
