<div class="tech-btm">
    <p>Teknoloji, yazılım ve diğer bloglar... </p>
    <form method="post">
        <input type="email" name="Mail" placeholder="Email" required="">
        <input type="submit" value="Abone Ol">
    </form>
</div>
